/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 10px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.strikethrough {
  text-decoration: line-through;
}

.tasks-block {
  border: 1px #357ebd solid;
  padding: 3px;
  margin: 5px;
}

.main-container {
  padding-bottom: 10px;
}

.list-block {
  margin-bottom: 10px;
}

.input-group {
  width: 100%;
}

.ui-select-toggle {
  text-align: left;
}

.edit-block h3, .list-block h3 {
  margin-top: 5px;
}

.edit-block .input-group {
  margin: 5px 0;
}

.edit-block .input-group-btn {
  vertical-align: bottom;
}
