<div class="edit-block">
    <h3>{{action | capitalize}} Task</h3>
    <form ng-submit="addOrEditTask(action, taskId)">
        <div class="input-group">
            <label class="control-label">Description:</label>
            <input type="text" class="form-control" ng-model="formDescription" ng-required="true" placeholder="Enter a description of the task"/>
        </div>

        <div class="input-group">
            <label class="control-label">Due Date:</label>
            <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="formDueDate" is-open="opened" datepicker-options="dateOptions" ng-required="true" show-button-bar="false" ng-focus="openCalendar($event)" placeholder="Select a date when the task should be completed"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>

        <div class="input-group">
            <label class="control-label">Assignee:</label>
            <ui-select ng-model="formAssignee.name" theme="bootstrap" ng-required="true">
                <ui-select-match placeholder="Select a person to whom to assign this task">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="person in people">{{person}}</ui-select-choices>
            </ui-select>
        </div>

        <input type="submit" class="btn btn-primary pull-right" value="{{action | capitalize}}"/>
    </form>
</div>