<div class="list-block">
    <h3>Task List</h3>
    <div class="tasks-block">
        <h4>Tasks to complete</h4>
        <task-list for-completed="false" tasks="tasks">
    </div>
    <div class="tasks-block">
        <h4>Tasks completed</h4>
        <task-list for-completed="true" tasks="tasks">
    </div>
    <div>
        <a class="btn btn-primary" ui-sref="tasks.add" role="button">Add Task</a>
    </div>
</div>