<ul class="list-unstyled">
    <li ng-repeat="task in tasks | orderBy:'-dueDate'" ng-if="task.completed == forCompleted">
        <div class="checkbox">
            <input type="checkbox" ng-model="task.completed"/>
            <a ui-sref="tasks.edit({id:task.id})" ng-class="{strikethrough:forCompleted}">
                <strong>{{task.description}}</strong>
                by {{task.assignee}}
                till {{task.dueDate | date:'yyyy-MM-dd'}}
            </a>
        </div>
    </li>
    <li ng-if="numTasks(forCompleted) === 0"><em>No tasks to complete</em></li>
</ul>